<h2 class="ms-2 p-2 mt-2">{{data}}</h2>
<div class="container w-50 rounded border border-white text-center mt-5"style="background-color:gray;">
    <h1 class="text-center mt-3">Sign In to Your Account</h1>
    <form action="">
        <div class="p-3 mt-2">
            <input class="form-control"(change)="acnoChange($event)" type="text"id="acid"name="acnum1" [placeholder]="inputPlaceholder">
        </div>
        <div class="p-3 mt-2">
            <input class="form-control"(change)="pswrdChange($event)" type="password"placeholder="Enter Password"id="psw1"name="'paswrd1">
        </div>
        <div class="p-3 mt-2">
            <button class="btn btn-outline-light"type="button"(click)="login()">Login</button>
        </div>
    </form>
</div>