<h2 class="ms-2 p-2 mt-2">{{data}}</h2>
<div class="container w-50 rounded border border-white p-5 mt-5"style="background-color:rgb(0,0,0,0.54);">
    <h1 class="text-center mt-3 text-white">Sign In to Your Account</h1>
    <form action="" [formGroup]="loginForm"(ngSubmit)="login()">
        <div class="p-3 mt-2">
            <input formControlName="acno"class="form-control"  type="text"id="acid"name="acnum1"
             [placeholder]="inputPlaceholder">
        </div>
        <div *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched">
            <p class="text-danger fw-bold " >accept only numbers</p>
        </div>
        <div class="p-3 mt-2">
            <input formControlName="psw" class="form-control" type="password"placeholder="Enter Password"id="psw1"name="'paswrd1">
        </div>
        <div *ngIf="this.loginForm.get('psw')?.errors && this.loginForm.get('psw')?.touched">
            <p class="text-danger fw-bold " >accept only numbers and characters</p>
        </div>
        <div class="p-3 mt-2 text-center">
            <button class="btn btn-outline-light"type="submit">Login</button>
        </div>

        <div class="text-center text-white mt-2" ><strong> Not registered ?</strong> 
            <a href="" style="text-decoration: none;color: rgb(162, 238, 39); "routerLink="register">
                <strong> Register </strong></a>
        </div>
    </form>
</div>