<div class="container w-50 rounded border border-white text-center mt-5"style="background-color:rgb(0,0,0,0.284);">
    <h1 class="text-center mt-3">Sign Up to bank</h1>
    <form action="" (ngSubmit)="register()">
        <div class="p-3 mt-2">
            <input [(ngModel)]="uname" class="form-control"  type="text"id="unamid"name="usern1"
             placeholder="Enter username">
        </div>
        <div class="p-3 mt-2">
            <input [(ngModel)]="acno" class="form-control"  type="text"id="acid"name="acnum1"
             placeholder="Enter acnum">
        </div>
        <div class="p-3 mt-2">
            <input [(ngModel)]="psw"  class="form-control" type="password"placeholder="Enter Password"id="psw1"name="'paswrd1">
        </div>
        <div class="p-3 mt-2">
            <button class="btn btn-outline-light"type="submit">register</button>
        </div>

       
    </form>
</div>